@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP&family=Noto+Sans+Kawi:wght@400;500&family=Nunito+Sans:opsz,wght@6..12,500&family=Roboto:wght@400;500&display=swap");
@import "common";

:root {

  @media (prefers-color-scheme: light) {
    --md-sys-color-surface: var(--md-sys-color-surface-light);
    --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
    --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
    --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
    --md-ref-palette-neutral-variant20: var(--md-ref-palette-neutral-variant20-light);
  }
  @media (prefers-color-scheme: dark) {
    --md-sys-color-surface: var(--md-sys-color-surface-dark);
    --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
    --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
    --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
    --md-ref-palette-neutral-variant20: var(--md-ref-palette-neutral-variant20-dark);
  }

}

* {
  box-sizing: border-box;
}

$breakpoint-phone: 400px;
$breakpoint-tablet: 800px;
html, body {
  height: 100%;
  margin: 0;
}

body {
  container-type: inline-size;
  container-name: main;
}

.main-wrapper {

  --nav-width: 360px;
  grid-template-columns: var(--nav-width) 1fr;


  height: 100%;
  display: grid;

  grid-template-rows: 1fr;
  grid-template-areas: 'nav main';
  font-family: "Roboto", sans-serif;
  font-weight: 500;
@container main (max-width:#{$breakpoint-tablet}) {
  --nav-width: 80px;
  --hover-height: 32px;


  .navigation {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .selection {

    gap: 12px;
    border-bottom: none;

    &__headline {
      display: none;
    }

    &__item {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "icon badge"  "label-text none";
      width: 100%;
      color: var(--md-sys-color-on-secondary-container);
      padding: 5px;

      &__label-text {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: label-text;
        padding: 4px 7px;
        grid-column: span 2;
      }

      &__icon {
        grid-area: icon;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;


      }


      &__badge-label-text {
        grid-area: badge;
        position: absolute;
        left: -18px;
        font-size: 8px;
        border-radius: 50%;
        background: var(--md-ref-palette-error40);
        padding: 1px;
        width: 11.6px;
        aspect-ratio: 1/1;
        text-align: center;
      }
    }

  }
} @container main (max-width:#{$breakpoint-phone}) {

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 80px;
  grid-template-areas: 'main' 'nav';

  .navigation {
    display: block;
    width: 100%;
  }


  .selection {
    flex-direction: row;
    gap: 0px;
    flex-grow: 1;
  }

  .selection:last-child {
    display: none;
  }

  .selection__item {
    width: 100%;
    color: var(--md-sys-color-on-secondary-container);

    &__badge-label-text {
      grid-area: auto;
      left: calc(50% + 4px);
      background: var(--md-ref-palette-error40);
    }
  }
}
}


.navigation {
  font-size: 14px;
  grid-area: nav;
  background: var(--md-sys-color-surface);
  height: 100%;
  padding: 16px;

}

.selection {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--md-sys-color-on-surface-variant);

  &__headline {
    color: var(--md-sys-color-on-surface-variant);
    height: 56px;
    padding: 18px 0 18px 16px;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--md-sys-color-on-secondary-container);
    padding: 0 12px;
    isolation: isolate;
    height: 56px;
    align-items: center;

    &:hover {
      --state-layer-opacity: 0.08;
    }

    &::before {
      height: var(--hover-height, 100%);
      content: "";
      position: absolute;
      inset: 0;
      background: var(--md-sys-color-on-surface-variant);
      opacity: var(--state-layer-opacity, 0);
      transition: opacity 0.3s;
      z-index: -1;
      border-radius: 36px;
    }

    &__label-text {
      flex-grow: 1;

      //padding: 18px 0;

    }

    &__icon {
      flex-shrink: 0;
      padding: 0 12px 0 16px;

      &::after {
        content: '';
      }
    }

    &__badge-label-text {
      flex-shrink: 0;
      padding: 0 24px 10 12px;
    }

    &--active-indicator {
      position: relative;
      isolation: isolate;

      pointer-events: none;
      --state-layer-opacity: 1;


      &::before {
        background: var(--md-sys-color-secondary-container);
      }


    }
  }
}


.main {
  grid-area: main;
}

.scrim {
  background: var(--md-ref-palette-neutral-variant20);
  opacity: 0.4;
  height: 100%;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
